* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.contenare {
  padding: 15px 25px 25px;
  display: flex;
}

.section_menu {
  overflow: auto;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 245px;
  height: 100vh;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-right: 1px solid #141414;
  position: fixed;
  top: 0;
  left: 0;
}

.section_menu #m1 a {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin-left: 15px;
}

.section_menu #m1 {
  overflow: auto;
}

.section_menu #m1 #d {
  margin-top: 20px;
}

#d div:hover {
  background-color: rgb(46, 46, 46);
}

#d2 div:hover {
  background-color: rgb(46, 46, 46);
}

#intgram svg {
  display: none;
}

.section_menu #m1 #d div {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}

.section_menu #m1 #d div span {
  font-size: 16px;
  font-weight: 400;
}

.section_menu #m1 #d div img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 1px;
  border: 1px solid white;
}

.icone1 {
  font-size: 18px;
}

.section_menu #d2 div {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}

/* main */
.section_main {
  padding-top: 30px;
  height: 100%;
  width: 100%;
  margin-left: 245px;
}

.content_main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  display: flex;
}

#header img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  margin-left: 80px;
  margin-right: 50px;
  margin-bottom: 15px;
}

#d1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#s1 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

#s1 span {
  margin-right: 20px;
}

#s1 a {
  margin-right: 12px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 600;
  background-color: #3F3F3F;
  border-radius: 5px;
}

#s1 a:hover {
  background-color: #737373;
}

#s2 {
  display: flex;
  gap: 25px;
}

#s2 span {
  font-size: 13.5px;
}

#colon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px;
}

#colon1 span {
  font-size: 15px;
}

#plus {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  border: 3px solid #282727;
  background-color: black;
  border-radius: 50px;
  margin-bottom: 8px;
}

#plus div {
  width: 75px;
  height: 75px;
  background-color: #1A1717;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plus div span {
  font-size: 60px;
  font-weight: 100;
  color: #707070;
}

#colon2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #2d2c2c;
}

.actev::after {
  content: "";
  background-color: white;
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 32px;
}

#colon2 div {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

#colon2 div span {
  font-size: 14px;
}

#colon2 div span {
  margin-left: 8px;
  color: #A8A8A8;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.c1 {
  width: 32%;
  height: 250px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.contener_image {
  background-color: aqua;
  width: 32%;
}

.contener_image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.section_footer {
  margin-top: 50px;
  margin-left: 250px;
}

.section_footer div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.section_footer div a {
  font-size: 16px;
  color: #A8A8A8;
  margin-left: 10px;
}

.section_footer {
  margin-top: 25px;
}

#select_langues {
  background-color: black;
  border: none;
  outline: none;
  width: 65px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #A8A8A8;
  cursor: pointer;
}

#select_langues option {
  background-color: rgb(0, 0, 0);
  color: rgb(109, 109, 109);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .section_menu {
    z-index: 1;
    margin: 0;
    padding-top: 10px;
    background-color: rgb(0, 0, 0);
    width: 10vw;
    border-right: 1px solid rgb(54, 53, 53);
    position: fixed;
  }
  .section_menu div span {
    display: none;
  }
  .section_menu div svg, .section_menu i, .section_menu img {
    margin-left: 10px;
  }
  .section_menu #m1 a {
    display: none;
  }
  .section_menu #intgram svg {
    display: inline;
    margin-bottom: 40px;
  }
  #s3 span {
    display: none;
  }
  #responsivemobile {
    display: none;
  }
  #d2 span {
    display: none;
  }
  .section_footer {
    position: fixed;
    margin-left: 140px;
    margin-top: 825px;
  }
  .section_footer div a, .section_footer #select_langues {
    font-size: 9px;
  }
  main {
    position: fixed;
  }
  .section_main {
    right: 38px;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    margin-left: 100px;
  }
  .section_main header {
    position: absolute;
    right: 60px;
    height: 100%;
    top: 10px;
  }
  #header {
    display: flex;
  }
  #header img {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-left: 106px;
    margin-bottom: 0px;
  }
  #d1 {
    margin-top: 10px;
  }
  #colon1 {
    margin-top: 140px;
  }
  #colon2 {
    position: relative;
    left: 15px;
    width: 610px;
    bottom: 20px;
    border-top: 1px solid #313131;
  }
  #colon2 div span {
    font-size: 11px;
  }
  .body {
    position: relative;
    width: 670px;
    left: 13px;
    bottom: 20px;
  }
  .contener_image {
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: 215px;
  }
}
@media (max-width: 767px) {
  /* main */
  /*#imo {
          display: none;
          }*/
  /*top*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  #responsivemobile {
    display: none;
  }
  #s3 {
    display: none;
  }
  #m3 {
    display: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .contenare {
    padding: 15px 25px 25px;
    display: flex;
  }
  .section_menu {
    overflow: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 245px;
    height: 100vh;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 25px;
    border-right: 1px solid #141414;
    position: fixed;
    top: 0;
    left: 0;
  }
  .section_menu #m1 {
    overflow: auto;
  }
  .section_menu #m1 a {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
  }
  .section_menu #m1 #d {
    margin-top: 20px;
  }
  .section_menu #m1 #d div {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
  }
  .section_menu #m1 #d div span {
    font-size: 16px;
    font-weight: 400;
  }
  .section_menu #m1 #d div img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 1px;
    border: 1px solid white;
  }
  .section_menu #d2 div {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
  }
  #d div:hover {
    background-color: rgb(46, 46, 46);
  }
  #d2 div:hover {
    background-color: rgb(46, 46, 46);
  }
  .icone1 {
    font-size: 18px;
  }
  .section_main {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    margin-left: 245px;
  }
  .content_main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #header {
    display: flex;
  }
  #header img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 15px;
  }
  #d1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #s1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
  #s1 span {
    margin-right: 20px;
  }
  #s1 a {
    margin-right: 12px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #545454;
    border-radius: 9px;
  }
  #s1 a:hover {
    background-color: #3a3a3a;
  }
  #s2 {
    display: flex;
    gap: 25px;
  }
  #s2 span {
    font-size: 14px;
  }
  #colon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px;
  }
  #colon1 span {
    font-size: 15px;
  }
  #plus {
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px;
    border: 3px solid #282727;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 8px;
  }
  #plus div {
    width: 75px;
    height: 75px;
    background-color: #1A1717;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #plus div span {
    font-size: 60px;
    font-weight: 100;
    color: #707070;
  }
  #colon2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #141414;
  }
  #colon2 div {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
  }
  #colon2 div span {
    font-size: 14px;
    margin-left: 8px;
    color: #A8A8A8;
    font-weight: 600;
  }
  .actev::after {
    content: "";
    background-color: white;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: 32px;
  }
  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
  }
  .contener_image {
    background-color: aqua;
    width: 32%;
  }
  .contener_image img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .section_footer {
    margin-top: 50px;
    margin-left: 250px;
    margin-top: 25px;
  }
  .section_footer div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .section_footer div a {
    font-size: 16px;
    color: #A8A8A8;
    margin-left: 10px;
  }
  #select_langues {
    background-color: black;
    border: none;
    outline: none;
    width: 65px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #A8A8A8;
    cursor: pointer;
  }
  #select_langues option {
    background-color: rgb(0, 0, 0);
    color: rgb(109, 109, 109);
  }
  #m1 {
    display: none;
  }
  #d {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #d1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .contenare {
    padding: 0;
    flex-direction: column;
  }
  .section_menu {
    width: 100%;
    height: 100%;
    padding: 0;
    border-right: none;
    margin-left: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }
  .section_menu #m1 {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
  }
  .section_menu #m1 a {
    font-size: 20px;
    margin: 0;
  }
  .section_menu #m1 #d {
    display: none;
  }
  .section_menu #d2 {
    display: none;
  }
  .section_main {
    margin-left: 0;
    padding-top: 0;
  }
  #s1 {
    display: block;
    border-spacing: 10px;
  }
  #s1 > a {
    display: table-cell;
    padding: 5px 10px;
  }
  #s1 > i {
    display: none;
  }
  .content_main {
    width: 100%;
  }
  #s2 {
    display: none;
  }
  #header img {
    width: 75px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  #imo {
    position: absolute;
    margin-top: 130px;
    left: 0;
  }
  #plus {
    position: absolute;
  }
  #plus div {
    width: 50px;
    height: 50px;
  }
  #plus div span {
    font-size: 40px;
  }
  #colon1 {
    width: 100%;
    height: 148px;
    margin: 8px;
    flex-direction: unset;
    border-bottom: 1px solid #535050;
    margin-top: 36px;
  }
  #colon1 > span {
    width: 60px;
    text-align: center;
    margin-top: 80px;
    left: 15px;
  }
  .body {
    justify-content: baseline;
  }
  .section_footer {
    display: none;
  }
  #s3 {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: column;
    width: 33.3333333333%;
  }
  #s3 > div.s32 {
    color: gray;
    font-size: 14px;
  }
  #s3 > div.s31 {
    font-size: 15px;
  }
  .s31 span {
    margin: 55px;
  }
  .s32 span {
    margin: 40px;
  }
  .header1 {
    background-color: #0e0e0e;
    width: 100%;
    height: 40px;
    text-align: center;
  }
  #responsivemobile {
    display: flex;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: 1px solid #424242;
  }
  #colon2 {
    justify-content: space-between;
    border-top: 1px solid #424242;
  }
  #colon2 div {
    margin-left: 0;
  }
  #colon2 > div.colon3_d2 {
    width: 33.3333333333%;
    justify-content: center;
    color: #21ccf5;
  }
  #colon2 > div.colon3_d2 > span {
    display: none;
  }
  #colon2 > div.colon3_d3 {
    width: 33.3333333333%;
    justify-content: center;
    color: #21ccf5;
  }
  #colon2 > div.colon3_d3 > span {
    display: none;
  }
  #colon2 > div.actev.colon3_d1 {
    width: 33.3333333333%;
    justify-content: center;
    color: #21ccf5;
  }
  #colon2 > div.actev.colon3_d1 > span {
    display: none;
  }
  #m3 {
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
  }
  #m3 div {
    display: contents;
    color: #969696;
    white-space: nowrap;
    overflow-x: auto;
    position: sticky;
    bottom: 0;
  }
  #m3 div span {
    display: none;
  }
  #m3 div img {
    width: 20px;
    height: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
  }
  .icone1 {
    font-size: 20px;
    margin: 5px;
  }
  .icone2 {
    font-size: 20px;
    margin: 5px;
  }
  .icone3 {
    font-size: 20px;
    margin: 5px;
  }
  .icone4 {
    font-size: 20px;
    margin: 5px;
  }
  .icone5 {
    font-size: 20px;
    margin: 5px;
  }
}/*# sourceMappingURL=main.css.map */